<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu" ></ion-icon>
      </button>
      <ion-title>Favorite Question </ion-title>
  
      <ion-buttons end>
  
  
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding style="padding: 20px; ">
    
              <div *ngFor="let items of itemsFavoite; let i = index"  >
   
                 
                  <ion-list  *ngIf="items.questions.length > 0">
                        <ion-item style="background-color: yellowgreen;">
                            <ion-label> {{items.name}}</ion-label>
                           
                          </ion-item>
                        
                        
                  </ion-list>
                  
              <ion-card *ngFor="let item of items.questions; let i = index"  >
               
               <ion-card-header style="padding: 0px; " [ngClass]="platform=='small'? 'detail-small-font' : 'detail-large-font'">
                  <ion-toolbar  [ngClass]="platform=='small'? 'detail-small-font' : 'detail-large-font'">
                      <ion-buttons start  (tap)="shareQuestion(item[0], items.name)">
                          <button ion-button icon-only >
                              <ion-icon name="share"></ion-icon>
                            
                          </button>
                        </ion-buttons>  
                      <ion-title [ngClass]="platform=='small'? 'toolbar-title-small-font' : 'toolbar-title-large-font'" > Question {{i+1}} </ion-title>
                      
                      <ion-buttons end *ngIf="item[0].favorite " (tap)="unFavorite(item[0].index)" >
                          <button ion-button icon-only >
                             
                              <ion-icon name="star"  (click)="favorite()"></ion-icon>
                          </button>
                        </ion-buttons> 
                        <ion-buttons end *ngIf="!item[0].favorite" (tap)="favorite(item[0].index)">
                            <button ion-button icon-only >
                                <ion-icon name="star-outline"></ion-icon>
                              
                            </button>
                          </ion-buttons>  
  
                    </ion-toolbar>
  
   
                    
               
              </ion-card-header>
          
  
                
                <ion-card-content>
                <br/>
                 <p [style.font-size]="sizeStore" [ngClass]="platform=='small'? 'p-medium-font' : 'p-large-font'" [innerHTML]="item[0].question"> 
                <!--  <p style= "font-size: xx-large"> -->
              
                     
                  
                  </p>
                  <br/>

                  <p [style.font-size]="sizeStore" [innerHTML]="item[0].answer"> 
          
                      </p>
                  
                  

                      <div style="margin-top: 20px;" *ngIf="item[0].has_code">
                      <p [style.font-size]="sizeStore" [innerHTML]="item[0].code_txt"> 
                      </p>
                      </div>
                    
                      <ion-card style="margin-top: 20px;" class="video-container" *ngIf="item[0].has_video" style="margin:0px">
                        
      
                          
                        <!--  <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(item.video_url)' frameborder="0" width="560" height="315"></iframe>
                        -->
                       <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/A6XUVjK9W4o" frameborder="0" allowfullscreen></iframe>
                       -->
                        <iframe  [src]="videoURL(item[0])" width="640" height="360" frameborder="0"
                           webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        </iframe>
                    </ion-card>

                     
                           
                </ion-card-content>
          
              </ion-card>
            </div> 
    
       
    </ion-content>